<div class="container">
  <table class="racer_table">
    <% @game.players.each do |player|  %>
      <tr class="strip" id="<%= player.id %>" data-initials="<%= player.initials %>">
        <td class="active"></td>
      </tr>
    <% end %>
  </table>
</div> 

<script>
  var gameId = <%= @game.id %>
</script>


