<div class="container">
  <div id="game_over">
    <h1> SECRET LINK: http://localhost:9393/game_over/<%= @game.id %></h1>
    <h1> FIRST PLACE: <%= @game.winner %></h1>
    <h1> WITH TIME OF: <%= @game.duration %></h1>
  </div>
</div>



