<!DOCTYPE html>
<html lang="en">
<head>
  <!-- CSS -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
  <title></title>
</head>
  <body>
    <%= yield %>
    <!-- JavaScript -->
    <script src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.1.min.js'></script>
    <script src="/js/script.js"></script>
  </body>
</html>
