<div class="welcome">
  <div id="login">
   <form action="/" method="post">
      <label for="player[1]">P1 Initials</label>
      <input type="text" name="player[1]" placeholder="AAA" required=true size="3" maxlength="3">
      <label for="player[2]">P2 Initials</label>
      <input type="text" name="player[2]" placeholder="BBB" required=true size="3" maxlength="3">
      <label for="player[3]">P3 Initials</label>
      <input type="text" name="player[3]" placeholder="CCC" size="3" maxlength="3">
      <label for="player[4]">P4 Initials</label>
      <input type="text" name="player[4]" placeholder="DDD" size="3" maxlength="3">
      <input type="submit"> 
   </form>
 </div>
</div>
